.dataTables_filter {
    float: right;
    margin-top: -3.8rem;
}

.btn-check:checked.btn-outline-primary {
    border-color: #9ebbde;
    background-color: #9ebbde;
}

.btn-check {
    clip: auto !important;
}

.btn.btn-sm.btn-outline-primary {
    padding: .25rem 1.5rem !important;
}

/* Dashboard -> Importar */
#formFile {
    border-width: thin;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    background-clip: padding-box !important;
    -webkit-appearance: none !important;
       -moz-appearance: none !important;
            appearance: none !important;
    border-radius: 0.25rem !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

.btn.btn-primary {
    background-color: #3c25fd !important;
    border-color: #3c25fd !important;
}

/* Dashboard -> Email */

#exampleInputEmail1 {
    border-radius: 5px;
    border-color: #c1c4ca;
}

td.tdTipos {
    font-size: small;
    display: table-cell;
    flex-wrap: wrap;
    min-width: 131px;
}

.bg-hlink {
    background-color: #2D4B94 !important;
}

.color-hlink {
    color: #2D4B94 !important;
}

.rowCatGeral {
    padding: 0em 2em 0.4em 0.6em;
}

.btn-Cathlink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: white;
    border-color: black;
    border-radius: 50px;
    cursor: default;
    padding: 0.275rem 0.75rem !important;
}

.resultCategoriasDisplay {
    width: 13em;
    max-width: 13em;
    border-top: 2px solid #2d4b94 !important;
    border-bottom: 2px solid #2d4b94 !important;
}

.btn.btn-Cathlink.resultCategoriasDisplay {
    border-top: 2px solid black !important;
    border-bottom: 2px solid black !important;
}

.tituloPergunta {
    color: #2D4B94 !important;
    font-weight: bold;
}

/* Cursores */
.pe-pointer {
    cursor: pointer !important;
}

.pe-grab {
    cursor: move;
    cursor: -webkit-grabbing;
}

/* Cada Tentativa */

.btn-sm-hlink {
    color: #2d4b94 !important;
    border-color: #2d4b94;
    background-color: transparent !important;
    padding: 0.15rem 1.3rem;
    font-size: .875rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

.btn-sm-hlink:hover {
    color: white !important;
    border-color: #2d4b94;
    background-color: #2d4b94 !important;
}

/* Datatable SearchBox*/

.dataTables_filter input {
    margin-left: 10px;
    height: 32px;
    border: 1px solid #aaa;
    border-radius: 5px;
    text-indent: 10px;
}

/* Datatable Pagination*/

.paginate_button {
    background-color: aliceblue;
    padding: 2px 8px;
    cursor: pointer;
}

.paginate_button.current {
    border-color: #b9b9b9;
    border-width: 1px;
    border-radius: 2px;
    font-weight: bolder;
}

/* MODAL */
.modal-title {
    font-weight: bold;
    font-size: large;
}

